<!DOCTYPE html>
<html>
	<head>
		<title>@springernature packages</title>
		<meta name="robots" content="noindex, follow">
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="icon" href="./favicon.png" type="image/png" />
	</head>
	<body>
		<ul>
			<% for (let i = 0; i < packages.length; i++) { %>
				<li>
					<%- packages[i].name %>
				</li>
			<% } %>
		</ul>
		<script src="./js/app.js"></script>
	</body>
</html>